*{
    box-sizing: border-box !important;
}

.post-container{
    margin-top: 10vh;
}

/*
    this makes all images in cards to have the same height
*/
.card-img-top {
    height: 35vh;
    object-fit: cover;
}